
	
		
		<!--end header -->
		<!--start page wrapper -->
						                <form action="/admin/product-category" method="post" enctype="multipart/form-data">

		<div class="page-wrapper">
			<div class="page-content">

				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">eCommerce</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Add Product Category</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Settings</button>
							<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->

              <div class="card">
				  <div class="card-body p-4">
					  <h5 class="card-title">Add Product Category</h5>
					  <hr/>
                       <div class="form-body mt-4">
					    <div class="row">
						   <div class="col-lg-8">
                           <div class="border border-3 p-4 rounded">
							<div class="mb-3">
								<label for="inputProductTitle" class="form-label">Product Title</label>
								<input type="text"  name="Name" class="form-control" id="inputProductTitle" placeholder="Enter product title">
							  </div>
							  {{!-- <div class="mb-3">
								<label for="inputProductDescription" class="form-label">Description</label>
								<textarea class="form-control" id="inputProductDescription" rows="3"></textarea>
							  </div> --}}
							  <div class="mb-3">
								<label for="inputProductDescription" class="form-label">Product Images</label>
								<input id="image-uploadify" name="Image" type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
							  </div>
                            </div>
						   </div>
						   <div class="col-lg-4">
							<div class="border border-3 p-4 rounded">
                              <div class="row g-3">
								


								  

								    <div class="col-12">
									<label for="inputCategory" class="form-label">Category</label>
									<select class="form-select"  name="Category" id="inputCategory">
										<option></option>
										<option value="Men">Men</option>
										<option value="Women">Women</option>
									  </select>
								  </div>

								  <div class="col-12">
									<label for="inputSubCategory" class="form-label">Sub-Category</label>
									<select class="form-select"  name="SubCategory" id="inputSubCategory">
										<option></option>
										<option value="T-shirt">T-shirt</option>
										<option value="Bags">Bags</option>
										<option value="Womens wear">Womens wear</option>
									  </select>
								  </div>

								  <div class="col-12">
									<label for="inputProductSize" class="form-label">Product Size</label>
									<select class="form-select"  name="Size" id="inputProductsize">
										<option></option>
										<option value="Small">Small</option>
										<option value="Medium">Medium</option>
										<option value="Large">Large</option>
									  </select>
								  </div>
								  	<div class="col">
								<label class="form-label">Select Color</label>
								<div class="color-indigators d-flex align-items-center gap-2">
									 <div class="color-indigator-item bg-primary"></div> 
									 <div class="color-indigator-item bg-danger"></div> 
									 <div class="color-indigator-item bg-success"></div> 
									 <div class="color-indigator-item bg-warning"></div> 
								</div>
							</div>

								  <div class="col-md-6">
									<label for="inputPrice" value="Price" class="form-label">Price</label>
									<input type="taxt"  name="Price" class="form-control" id="inputPrice" placeholder="00.00">
								  </div>
								  
								  {{!-- <div class="col-md-6">
									<label for="inputCompareatprice" class="form-label">Compare </label>
									<input type="password" class="form-control" id="inputCompareatprice" placeholder="00.00">
								  </div> --}}

								

								  
								  <div class="col-12">
									  <div class="d-grid">
                                         <button type="submit" class="btn btn-primary">Save Product</button>
									  </div>
								  </div>
							  </div> 
						  </div>
						  </div>
					   </div><!--end row-->
					</div>
				  </div>
			  </div>

			</div>
		</div>
		</form>
		<!--end page wrapper -->
		
	
